.homepage-banner {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.homepage-banner-title {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homepage-banner-subtitle {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6px;
}

#homepage-title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 4.5em;
  font-weight: 300;
  line-height: 1em;
  text-transform: capitalize;
}

#homepage-subtitle {
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-size: 1.3em;
  font-weight: 200;
  line-height: 1.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 1080px) {

}

@media screen and (max-width: 600px) {

}
