.container-top {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 1px 0px;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.container-top-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  padding: 0 10px;
  width: 1080px;
}

.container-top-nav-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.container-top-nav-right {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-end;
}

#site-logo-top-link {
  flex-direction: row;
  justify-content: flex-start;
}

.site-logo-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 46px;
}

.site-title-top {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  padding-bottom: 2px;
  width: 100%;
}

.site-logo {
  background-image: url("../images/paul-signature-white.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  background-size: contain;
  width: 100%;
}

.site-title-top-font {
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1em;
  min-width: 300px;
  text-transform: capitalize;
}

.site-title-top-font-sm {
  display: none;
}

.nav {
  align-items: center;
  display: flex;
  height: inherit;
}

.nav ul {
  display: flex;
  height: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
}

.nav ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  box-sizing: border-box;
  display: flex;
  float: left;
  outline: none;
  padding: 0px 15px;
  margin-bottom: -1px;
  margin-left: 10px;
}

.nav ul li:hover {
  border-bottom: solid 1px rgb(255, 255, 255);
  box-sizing: border-box;
}

.nav ul li a {
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  height: inherit;
  outline: none;
}

.nav ul li.first {
  margin-left: 0px;
}

.nav ul li#current {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: -1px;
}

/**********  Mobile Navigation - Styles  **********/

.nav-mobile {
  display: flex;
  width: 100px;
  height: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-mobile ul {
  display: none;
}

#nav-toggle {
  display: none;
}

.nav-mobile-btn {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
  padding: 8px 0px;
  text-align: center;
  text-decoration: none;
  text-rendering: auto;
  width: 36px;
  -webkit-font-smoothing: antialiased;
}

#nav-toggle:checked ~ .nav-mobile-menu {
  display: inline-block;
  background-color: rgba(26, 26, 26, 0.8);
}

.dropdown ul {
  background-color: rgba(26, 26, 26, 0.8);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: nowrap;
  width: auto;
  z-index: 10;
  position: absolute;
  bottom: 0px;
  top: 60px;
  right: 42px;
  height: 166px;
}

.nav-mobile-menu li {
  border-bottom: none !important;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  list-style: none;
  margin: 0 !important;
  padding: 8px 24px !important;
  text-align: left;
}

.nav-mobile-menu li:hover {
  border-bottom: none!important;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  list-style: none;
  margin: 0!important;
  padding: 8px 24px!important;
  text-align: left;
}

.nav-mobile-menu-item {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1080px) {
  .container-top-nav {
    max-width: 800px;
    min-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  #site-logo-top-link {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .site-logo-top {
    height: 34px;
    width: 70px;
  }

  .site-logo {
    background-image: url(../images/paul-signature-white-small.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: contain;
  }

  .site-title-top {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-bottom: 2px;
    width: 100%;
  }

  .site-title-top-font {
    display: none;
  }

  .site-title-top-font-sm {
    align-items: flex-start;
    border-left: 1px solid #fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    font-weight: 300;
    line-height: 1.2em;
    justify-content: space-around;
    min-width: auto;
    padding-left: 1em;
    text-transform: capitalize;
  }

  .nav ul li {
    padding: 0px 10px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 600px) {
  .nav ul li.nav-btn {
    display: none;
  }
  
  .container-top-nav {
    max-width: 600px;
    min-width: 100%;
  }

  .container-top-nav-left {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    padding: 18px 0;
  }

}
